.containerTodo{
    display: flex;
    margin: 25px;
    margin-top: 90px;
    font-family: 'Arvo', serif;
    flex-direction: row;
}

.containerTitle{
    flex: 1 1 50%;
}

.imgPerrito{
    width: 40rem;
    height: 30rem;
}

.containerDelForm{
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

select{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:3px solid #F6BE68;
    font-family: 'Arvo', serif;
}

select:focus 		{ outline:none; }



  .tam{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:-20px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    font-family: 'Arvo', serif;
  }

  
 .fil{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 3px solid #F6BE68;
    font-family: 'Arvo', serif;
 }
 




